@import url(https://fonts.googleapis.com/css?family=Arvo);


html {
    scroll-behavior: smooth;
}
p , a {
    font-size: 15px;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: 1px;
}

h2{
    font-size: 28px;
    color: #262626;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.head {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    &__nav {
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        padding: 35px 60px;
        align-items: center;
        top: 0;   
        width: 100%;
        height: 70px;
        .close-menu & {
            padding: 0;
        }
    }
    &__logo {
        text-align: center;
        position: relative;
        top: 3px;
        .close-menu & {
            display: none;
        }
        &__icon {
            width: 120px;
        }
    }
    &__menu {  
        transition: 0.5s ease-in;
        .close-menu & {
            width: 100%;
            height: 100vh;
            display: flex;
            background-color: #212121;
            align-items: normal;
            transition: 0.5s ease-in;
        }
        &__list{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            padding: 0;
            .close-menu & {
                display: flex;
                flex-direction: column;
                align-items: normal;
                font-size: 2rem;
                padding: 0 20px;
            }  
        }
        &__item {
            list-style: none;
            .close-menu & {
                display: block;
            }
        }
        #bold {
            color: #ef002a;
        }
        &__link {
            color: white;
            text-decoration: none;
            font-weight: 700;
            font-size: 16px;
            &::after {
                content: '';
                display: block;
                opacity: 0;
                background-color: #ef002a;
                width: 100%;
                height: 2px;
                transition: 0.5s ease-out;
            }
            &:hover::after {
                opacity: 1;
                transition: 0.5s ease-in;
                
            }
            .close-menu & {
                color: white;
                font-weight: bold;
                font-size: 15px;
            }
        }
    }
    &__button {
        background-color: transparent;
        border: none;
        display: none;
        .close-menu & {
            background-color: transparent;
            position: relative;
            top: 10px;
        }
        &__bar:nth-child(1) {
            display: block;
            height: 2px;
            width: 20px;
            background: white;
            transform: translateY(-3px);
            transition: 0.4s;
            .close-menu & {
                display: block;
                margin: 4px;
                height: 2px;
                width: 20px;
                background: white;
                border-radius: 9px;
                transform: rotate(133deg) translateY(-4px) translateX(1px);
                transition: 0.4s;
            }
        }
        &__bar:nth-child(2) {
            display: block;
            height: 2px;
            width: 10px;
            background: white;
            transform: translate(9px, 3px);
            transition: 0.4s;
            .close-menu & {
                display: block;
                margin: 4px;
                height: 2px;
                width: 20px;
                background: white;
                border-radius: 9px;
                transform: rotate(44deg) translate(0px, -4px);
                transition: 0.4s;
            }
        }
        &__bar:nth-child(3) {
            display: block;
            height: 2px;
            width: 20px;
            background: white;
            transform: translate(0px, 9px);
            transition: 0.4s;
            .close-menu & {
                display: none;
            }
        }
    }
    &__ham-menu {
        position: absolute;
        .close-menu & {
            position: absolute;
            top: 32px;
            right: 20px;
        }
    }
}

@media only screen and (max-width: 767.98px) {
    .head {
        position: fixed;
        background: #000000a3;
        &__nav {
            justify-content: space-between;
            height: unset;
            padding: 10px 20px;
            flex-direction: unset;
            align-items: center;
        }
        &__button {
            display: block;
        }
        &__menu {
            opacity: 0;
            transform-origin: top center;
            transition: opacity .5s ease .7s,visibility .5s ease .7s;
            overflow: hidden;
            .close-menu & {
                opacity: 1;
                transition: 0.5s;
                visibility: visible;
            }
            &__list {
                display: none;
            }
            &__item {
                display: block;
                opacity: 0;
                transform: translateY(16px);
                transition: all 1s ease;
                transition-delay: 0s;
                .animated & {
                    opacity: 1;
                    visibility: visible;
                    transition-delay: .3s;
                    transform: none;
                    @for $i from 1 through 12 {
                        $delay: 240 + ($i * 80) + ms;
                        &:nth-child(#{$i}) {
                          transition-delay: $delay;
                        }
                      }
                }
            }
        }
        &__logo {
            text-align: left;
            img {
                width: 70px;
            }
        }
        &__ham-menu {
            position: relative;
            top: 0;
            right: 0;
        }
    }
}

@media only screen and (max-width: 320px) {
    .head {
        &__logo {
            img {
                width: 50px;
            }
        }
        &__ham-menu {
            right: 0px;
        }
    }
}

@media (max-width: 991.98px) {
    h2 {
        font-size: 35px;
    }
}

@media (max-width: 767.98px) {
    p , a {
        font-size: 13px;
    }
    h2 {
        font-size: 26px;
    }
}
@media (max-width: 575.80px) {
    p , a {
        font-size: 12px;
    }
    h2 {
        font-size: 25px;
    }
}
@media (max-width: 320.98px) {
    p , a {
        font-size: 10px;
    }
    h2 {
        font-size: 22px;
    }
}
